
<%= render 'videos/vimeo', video: @video %>

<div class="container vid-show">
  <div class="row margin-40">
    <h2 id="video-title"><%= @video.title %></h2>
    <%= @video.description %>

    <% @comments.each do |comment| %>
    <p><%= comment.content %></p>
    <% end %>

    <%= simple_form_for [@video, @comment] do |f| %>

      <%= f.input :content, label: 'Comment' %>
      <div class="form-actions">
        <input class="btn btn-success btn-lg" name="commit" type="submit" value="Submit">
      </div>
    <% end %>

    <%= link_to 'Browse other videos', videos_path %>
  </div>
</div>